.form {
  margin: 30px;
}

.input {
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: antiquewhite;
}
