.todo {
  width: 100%;
  background-color: white;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 15px;
}

.todoText {
  text-align: left;
  margin: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: black;
}
